.home {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    background-color: #fff;
}

.header {
    display: flex;
    width: 100%;
    height: 100%;
    position: relative;
}

.background {
    width: 48%;
    height: auto;
    position: absolute;
    right: 0;
    top: 0;
    object-fit: cover;
    z-index: 0;
}

.content-container {
    width: 22%;
    padding: 0px 50px 0px 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: #333;
    text-align: left;
    z-index: 1;
    background-color: #fff;
    border-radius: 8px;
    position: relative;
    margin: 18px;
}

.login {
    width: 100%;
}

.logo-container {
    margin-bottom: 32px;
}

.logo {
    width: 120px;
    height: auto;
}

.login h2 {
    font-size: 1.6em;
    padding-bottom: 0;
    margin-bottom: 0;
    text-align: left;
}

.login p {
    margin-top: 8px;
    font-size: 0.8em;
    margin-bottom: 40px;
    text-align: left;
    color: #666;
}

.form-group {
    margin-bottom: 16px;
    width: 100%;
}

.form-group label {
    font-size: 0.8em;
    margin-bottom: 4px;
    color: #333;
}

.form-group input {
    width: 100%;
    padding: 12px;
    font-size: 0.8em;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 4px;
}

.home-btn {
    width: 100%;
    background-color: #081429;
    color: white;
    margin-top: 8px;
    border: 0;
    padding: 15px;
    border-radius: 25px;
    transition: background-color 0.3s, transform 0.3s;
    font-size: 1.1em;
    font-weight: bold;
    cursor: pointer;
}
.home-btn:hover {
    background-color: #c3a576;
    transform: scale(1.05);
}

.create-account {
    margin-left: 20%;
    padding-top: 8px;

    text-align: center;
    color: #081429;
}

.home-link {
    color: blue;
    text-decoration: none;
    cursor: pointer;
}

.home-link:hover {
    text-decoration: underline;
}

.error {
    color: red !important;
    margin-bottom: 10px !important;
}
