.sidebar-open {
    overflow: hidden;
}

.backdrop {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    z-index: 1000;
}

.backdrop.open {
    display: block;
}

.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    width: 25%;
    height: 100%;
    background: #fff;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
    transform: translateX(100%);
    transition: transform 0.3s;
    z-index: 100000;
    display: flex;
    flex-direction: column;
}

.sidebar.open {
    transform: translateX(0);
}

.sidebar-content {
    padding: 16px;
    overflow-y: auto;
    flex-grow: 1;
}

.close-button {
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
}

h2 {
    margin-top: 0;
    color: #333;
    font-size: 20px;
    border-bottom: 2px solid #f0f0f0;
    padding-bottom: 8px;
}

.user-list {
    list-style: none;
    padding: 0;
    margin: 0;
}
.user-item-container {
    display: flex;
    flex-direction: row;
    background: #f9f9f9;
    border: 1px solid #e0e0e0;
    justify-content: space-between;
    padding: 8px;
    margin: 16px;
    transition: 0.3s, 0.3s;
    cursor: pointer;
    border-radius: 10px;
}

.user-item {
    padding: 8px;
    margin-bottom: 8px;
}

.user-item h3 {
    margin: 0 0 4px 0;
    font-size: 15px;
    color: #333;
}

.user-item p {
    margin: 0;
    color: #666;
    font-size: 12px;
}

.user-item-container:hover {
    background: #e0e0e0;
    transform: translateY(-2px);
}

.user-info {
    flex-grow: 1;
}

.user-actions {
    margin-top: 15px;
    margin-right: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.icon {
    color: #081429;
    font-size: 15px;
    margin-left: 10px;
    transition: color 0.3s;
}

.icon:hover {
    color: #333;
}

.email-icon {
    margin-bottom: 5px;
}
