.property-card {
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 8px;
    overflow: hidden;
    width: 285px;
    display: flex;
    flex-direction: column;
    position: relative;
    box-shadow: 0 4px 8px rgba(1, 1, 1, 0.1);
}

.property-image img {
    width: 100%;
    height: auto;
}

.property-details {
    margin: 0rem 0.8rem;
    padding: 12px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    flex-grow: 1;
}

.property-details h2 {
    font-size: 1em;
    margin: 0 0 8px;
}

.property-details p {
    margin: 4px 0;
    color: #555;
    font-size: 0.8em;
}

.property-menu {
    position: relative;
}

.property-menu button {
    font-size: 0.7em;
}

.property-list-navbar h1 {
    font-size: 1.6em;
}

.menu-button {
    background: none;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 8px;
    right: 20px;
    color: #007bff;
}

.menu-button:hover {
    color: #0056b3;
}

.menu-options {
    position: absolute;
    top: 24px;
    right: 0px;
    background: white;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 10;
    overflow: hidden;
    animation: fadeIn 0.3s ease-in-out;
}

.menu-options button {
    display: block;
    width: 100%;
    padding: 8px 12px;
    background: none;
    border: none;
    text-align: left;
    cursor: pointer;
    color: #081429;
    transition: background 0.3s, color 0.3s;
}

.menu-options button:hover {
    background: #c3a576;
    color: white;
}

.check-leads-button {
    position: absolute;
    bottom: 12px;
    right: 12px;
    background-color: #081429;
    color: white;
    border: none;
    padding: 12px 20px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 0.7em;
}

.check-leads-button:hover {
    background-color: #c3a576;
}
