.property-list {
    padding: 16px;
    max-width: 1300px;
    margin: 16px auto;
    text-align: center;
}

.timeline-image {
    width: 100%;
    padding-top: 0;
    height: auto;
    margin-bottom: 16px;
}

.property-cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
    justify-content: space-between;
}

.property-list-navbar {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.create-property {
    background-color: #081429;
    color: white;
    padding: 16px 32px;
    border: none;
    border-radius: 30px;
    align-items: center;
    cursor: pointer;
    font-size: 0.8rem;
    height: 50px;
    font-weight: 600;
    margin-right: 20px;
    margin-bottom: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.create-property:hover {
    background-color: #c3a576;
}

.dialogue {
    position: fixed;
    bottom: 50px;
    right: 50px;
    padding: 16px 40px;
    background-color: #c3a576;
    color: white;
    border-radius: 25px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    color: #081429;
    font-size: 0.8em;
    font-weight: 700;
}
